{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">

{% block main %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Gestion de productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href>Gestion de productos</a></li>
                    <li class="breadcrumb-item active">Categorias de productos</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
  <!-- /.card -->
  <div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Colaboradores</h3>
        <div class="align-content-end text-right">
            <a href="crear_trabajador.php" class="btn btn-success">Crear trabajador</a>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Estado</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{categoria.id}}</th>
                    <td>{{categoria.nombre}}</td>
                    <td>{{categoria.descripcion}}</td>
                    <td>
                        {% if categoria.estado == 1 %}
                        <span class="badge bg-success">Activo</span>
                        {% elif categoria.estado == 2 %}
                        <span class="badge bg-danger">Inactivo</span>
                        {% endif %}
                    </td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
                <!-- Edit Modal HTML -->
                <div id="addEmployeeModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/crear_categoria" method="POST">
                                <div class="modal-header">
                                    <h4 class="modal-title">Crear categorias</h4>
                                    <button type="button" class="close"
                                        data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" name="nombre"
                                            class="form-control"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label>Descripcion</label>
                                        <textarea name="descripcion"
                                            class="form-control"
                                            required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select name="estado" id
                                            class="form-control">
                                            <option value="1">Activo</option>
                                            <option value="2">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn
                                btn-danger"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn
                                btn-success">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Edit Modal HTML -->

                {% for categoria in categorias %}
                <div id="editEmployeeModal{{categoria.id}}"
                    class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form
                                action="/editar_categoria/{{categoria.id}}"
                                method="post">
                                <div class="modal-header">
                                    <h4 class="modal-title">Editar categoria</h4>
                                    <button type="button" class="close"
                                        data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" name="nombre"
                                            id="nombre"
                                            value="{{categoria.nombre}}"
                                            class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Descripcion</label>
                                        <textarea id="descripcion"
                                            name="descripcion"
                                            class="form-control" required>{{categoria.descripcion}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select name="estado" id="estado"
                                            class="form-control">
                                            <option value="1" {% if
                                                categoria.estado == 1
                                                %}selected{% endif %}>Activo</option>
                                            <option value="2" {% if
                                                categoria.estado == 2
                                                %}selected{% endif %}>Inactivo</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn
                                btn-default"
                                        data-dismiss="modal"
                                        value="Cancel">
                                    <input type="submit" class="btn
                                btn-info" value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% endfor %}

                {% for categoria in categorias %}
                <!-- Delete Modal HTML -->
                <div id="deleteEmployeeModal{{categoria.id}}"
                    class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/eliminar_categoria" method="post">
                                <div class="modal-header">
                                    <h4 class="modal-title">Eliminar</h4>
                                    <button type="button" class="close"
                                        data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" name="id"
                                        value="{{categoria.id}}" hidden>
                                    <p>Estas seguro que quieres eliminar la
                                        categoria?</p>
                                    <p class="text-warning"><small>
                                            seguro.</small></p>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn
                                btn-default"
                                        data-dismiss="modal"
                                        value="Cancel">
                                    <input type="submit" class="btn
                                btn-danger"
                                        value="Delete">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
<script>
    var $j = jQuery.noConflict();
  </script>
<script
    src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<script>
        $(function() {
          $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
          $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
        });
      </script>