<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Luxx Art</title>
    <link rel="stylesheet" href="static/css/login.css">
  </head>
  <body>

    <div class="login-box">
      <img src="static/img/5.png" class="avatar" alt="Avatar Image">
      <h1>Iniciar sesion</h1>
      <form method="post" action="/validar">
        <!-- USERNAME INPUT -->
        <label for="username">Usuario</label>
        <input type="text" name="usuario" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" name="contraseña" placeholder="Enter Password">
        <input type="submit" value="Log In">
        <a href="#">Lost your Password?</a><br>
        <a href="#">Don't have An account?</a>
      </form>
    </div>
  </body>
</html>